#wrapper{

   width: 980px;
    border: 2px solid black;
    margin: 0 auto;
    padding: 0;
    
}
#header{
 height: 130px;
background: #003366;  
}
#logo{
height: 100px;
    width: 250px;
    float: left;
      padding: 10px 0 0 40px;
}
#w{
    height: 60px;
    width: 40px;
 font-family: Kristen ITC;
    font-size: 50px;
    color: white;
    float: left;
    padding-left: 10px;  
}
#share{
    height: 40px;
    width: 160px;
    font-family: Papyrus;
    font-size: 30px;
    color: #a4a4a4;
    padding-top: 20px;
    padding-left: 2px;
    float: left;
}
#slogan{
    height: 25px;
    width: 180px;
    font-family: Papyrus;
    font-size: 16px;
    color: white;
  padding-left: 30px;
    float: left;
    
}
#signin{
    height: 130px;
    width: 300px;
  
    float: right;
}
#login{
float: left;

}
#login_btn{
float: right;
 
    background-color: #999999;
    color: white;
    font-family: Papyrus;
    font-size: 15px;
    width: 80px;
    margin-right:50px;
border-radius: 5px;
}
#btn_Search
{height: 35px;
 border-radius: 5px;
    background-color: #003366;
    color: white;
    font-family: Papyrus;
    font-size: 15px;
    width: 80px;
}
#pass{
float: left;

}
#login_btn{
float: right;
    margin-right: 0;
    

}

#search{
 height: 50px; 
    margin-top: 25px;
    margin-bottom: 25px;
    background: #a4a4a4;
}
.search1{
background-color: #003366;
    width: 300px;
    height: 35px;
    margin: 3px 0 5px 0;
color: white;
}
#AS{
    color: #003366;
    font-family: papyrus;
    float: inherit;
    text-decoration-line: underline;
    font-size: 15px;
    margin-top: 10px;

}
.back{
    height: 100px;
    background-color: #cccccc;
}
.R1{
height: 40px;
    width: 165px;
    background-color:#003366;
    float: left;
    margin-left: 3px;
    border-radius: 8px;

}

#sub-container{
min-height: 650px;
    width: 250;
	float:left;
   
}
#content_viewer{
height:300px;
width:650px;
margin:0 auto;
}
.like_dislike_stars{
width:690px;
min-height: 40px;
}
.v_data{
width:670px;
    margin: 0 auto;
min-height: 200px;
    padding-bottom: 20px;
    background-color: #cccccc;
}
#v_icons{
float:right;
margin-right:10px;
 color: #003366;
font-family: Papyrus;
}
#like a{
margin-right:12px;
}
#back_area{
 color: #003366;
    background-color: #999999;
    border-radius: 10px;
    width: 650px;
font-family: Papyrus;
    margin: 0 auto;
}
#back_area p
{
margin: 15px 0 15px 10px;
}
#btn_post{
float: right;
color:#003366;
 background-color: #999999;
    height: 40px;
    width: 90px;
    border-radius: 10px;
    font-size: 18px;
 font-family: Papyrus;
    margin-right: 20px;
}
#content
{
width:690px;
background-color:#a4a4a4;
min-height:500px;
    padding-bottom: 10px;
float:right;
}
#catagories{
height: 340px;
    width: 250;
     float: left;
    background: #a4a4a4;
}

 .heading{
  background-color: #003366;
     margin-top: 0;
     padding-left: 15px;
     color: white;
     font-family: Papyrus;
 }
 .heading2{
     font-size: 20px;
     margin: -5px 0 -10px 10px;
     color: #003366;
     font-family: Papyrus;
 }
#catalist{
    list-style: none;
    font-family: Papyrus;
    font-size: 18px;
    margin: -10px 0 0 -10px;
}
#catalist a  li {
color: #003366;
}
#raudio{
min-height: 200px;
    width:690;
    float: right;
    background: #a4a4a4;
}
 
#registeration{
    min-height: 258px;
    width: 250px;
    float: left;
    margin-top: 30px; 
   background: #a4a4a4;
}
.Reg_heading{
color: #003366;
    font-family: Papyrus;
    float: left;
    padding-left: 15px;
}
#reg_btn{
color: white;
    font-family: Papyrus;
    background-color:#003366; 
    border-radius: 8px;
    width: 200px;
    font-size: 15px;
}
.field{
background-color: #999999;
    width: 200px;
    border-radius: 10px;
    
}
.field1{
    background-color:  #999999;
  width: 180px;
    height: 20px;
    border-radius: 10px;
    color: white;
}
.UP{
color: white;
    font-family:  Papyrus;
    font-size: 20px;


}
#svideo{
    height:170px;
    margin-top: 25px;
    margin-bottom: 20px;
}
#footer{
height: 100px;
    background-color: #003366;
}
#cright{
height: 20px;
    width: inherit;
   
    float:bottom;
    background-color:  #a4a4a4;
    
}